<%= form_for [ @post, @comment ] do |form| %>
  <%= form.label :comment_author_name %><br/>
  <%= form.text_field :comment_author_name %>
  </p>
  <p>
  <%= form.label :body %><br/>
  <%= form.text_area :body %>
  </p>
  <p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
